/* 基本のスタイル */
body {
    

    color: #6e6262;
    
  
}

/* ヘッダー */
.header {
    border-bottom: 1px solid #d7cece;
    /* ヘッダー下に線を引く */
    
}

.header__inner {
    margin: 10px;
    text-align: center;
}

.header__logo {
    color: #866d6d;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Times New Roman', serif;
   
}

main {
    background-color: white;
    width: 100%;
    
   
    
   
  
}

h2 {
    text-align: center;
    font-size: 1.6rem;
    margin: 40px;
    font-family: 'Times New Roman', serif;
    color: #866d6d;
}

/* テーブルスタイル */
table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
    
   
    
}

th,
td {
    
    padding: 12px 40px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #c6bbb9;
    width: 30%;
    color: white;
   
    font-family: 'Roboto', sans-serif;
  

    
   
}

td {
font-family: 'Roboto', sans-serif;
}

/* ボタンスタイル */
button {
    background-color:#8d7777;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #726060;
}

a.btn-secondary {

    color: #726060;
    padding: 10px 20px;
    
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}


div {
    text-align: center;
    margin-top: 20px;
}

/* スマホ対応 */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    main {
        padding: 20px;
    }

    table {
        font-size: 0.9rem;
    }

    button,
    a.btn-secondary {
        width: 100%;
        margin: 5px 0;
    }
}