/* 背景に'Thank You'を追加 */
.container::before {
    content: 'Thank You';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18vw;
    color: rgba(122, 83, 83, 0.05);
    font-family: "Noto Serif JP", serif;
    white-space: nowrap;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}

/* 全体中央寄せ */
.container {
    display: flex;
    flex-direction: column;
    /* 縦並びに変更 */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* h2タグのスタイル */
h2 {
    position: relative;
    font-size: 24px;
    color: #846f6f;
    z-index: 2;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    /* 下に余白を追加 */
}

/* ホームボタンのスタイル */
.home-button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #846f6f;
    color: #fff;
    text-decoration: none;
 
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
    z-index: 2;
}

/* ホバー時のエフェクト */
.home-button:hover {
    background-color: #524346;
}